body{
    background-color:#F7F6F5;
    text-align: center;
    align-items: center;
    margin: 0;
}
#img{
    background-color: white;
    border-radius: 5%;
    margin: auto;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}
#pokktimg{
    height: 100px;
    width: 100px;

}
.div1{
    margin: 50px 500px 0 500px;
    background-color: white;
    border:1px #D5DBDB ;
    border-style: solid;
    margin: auto;
    margin-top: 60px;
}
#signup{
    color: #00A6C8;
    text-align: left;
    font:bold;
    font-size: 30px;
    padding: 20px 0 20px 20px;
    font-family: 'Roboto', sans-serif;
}
#form{
    font-family: 'Open Sans', sans-serif;
    font-size:14px;
}
.inp{
    border:1px #D5DBDB ;
    border-style: solid;
    padding: 5px;
    margin: 5px 0 5px 0;
    border-radius: 2px;
}

